

  

 
    <div class="card-doctor">
      <div class="header">
        <img [src]="doctorInput.image" alt="">
        <div class="meta">
          <a  (click)='openModal(doctorInput)' ><span class="mai-call"></span></a>
        </div>
      </div>
      <div class="body">
        <p class="text-xl mb-0">{{doctorInput.name}}</p>
        <span class="text-sm text-grey">{{doctorInput.departement}}</span><br>
        <span class="text-sm text-grey">{{doctorInput.localization}}</span><br>
      </div>
    </div>
 
    


  

  

  

